// _colors.scss contains all base color rules.

////////////////////////////////////////////////////////////////////////////////
// VARIABLES
$plain-text: #444444;
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// TYPE - color rules related to text
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// STYLES - other color rules
.sp1 {
    background-color: $plain-text;
}

.sp4 {
    //background-color: $plain-text;
    border-color: $plain-text;
}

.sp5 {
    background: -webkit-radial-gradient(30% 30%, #FF7777, #EB0000);
    background: -moz-radial-gradient(30% 30%, #FF7777, #EB0000);
}
////////////////////////////////////////////////////////////////////////////////