// _style.scss contains all base styling not specified in other files.

////////////////////////////////////////////////////////////////////////////////
// VARIABLES
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// STYLES

body {
    text-align: center;
}

.foo3_-navbtn {
    height: 60rem;
    width: 60rem;
    border-radius: 60rem;
    position: absolute;
    right: -28.5rem;
    bottom: -28.5rem;
    z-index: 98;
    -webkit-animation: foo3_-navbtn 2s infinite;
}
@-webkit-keyframes foo3_-navbtn {
    0%, 80%, 100%{
        transform: scale(.035,.035);
        z-index: 98;
    }
    20%, 60% {
        z-index: 90;
        transform: none;
    }
}
////////////////////////////////////////////////////////////////////////////////